.header {
  border-bottom-color: var(--hr-border-color);
  border-bottom-width: 1px;
  border-bottom-style: solid;
}


.header__container {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 93px;
}

.header__menu-list {
  margin-left: auto;
}